@layer components {
    .btnFlashing {
        color: white;
        width: 100%;
        padding: 2px 5px;
        border-radius: 5px;
        background: #000;
        animation-name: flashing;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .active_for_account_nav{
      @apply  text-[#5E90F0]  border-[#5E90F0] w-[60px] h-[40px] leading-[40px] text-center  border-b-4 
    }
    .normal_for_account_nav{
        @apply w-[60px] h-[40px] leading-[40px]  text-center text-[#9DA7B9]
    }
    @keyframes flashing {
        0% {
            background: rgb(0, 0, 0);
        }
        25% {
            background: rgba(0, 0, 0, 0.75);
        }
        50% {
            background: rgba(0, 0, 0, 0.5);
        }
        75% {
            background: rgba(0, 0, 0, 0.75);
        }
        100% {
            background: rgba(0, 0, 0);
        }
    }
}
/* 
1. chỉ css cho component Filter . 

*/

@layer utilities {
    @media screen and (max-height: 699px) {
        .res_height_Filter {
            @apply mt-1;
        }
    }
}
