@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Poppins', sans-serif;
    }
    h1 {
        padding-top: 5px;
        font-size: 45px;
        font-weight: 600;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
        color: red;
        padding-top: 60px;
    }

    h3 {
        padding: 7px;
        font-size: 30px;
    }
}
